/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.contenitore-header-footer{
    max-width: 1000px;
    margin: 0 auto;
}
.contenitore-main{
    max-width: 900px;
    margin: 0 auto;
}
.top-header-container {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.bottom-header-container{
    background-color: #B4D0E7;
}
.border{
    border: 1px solid gray;
}
/* 
    TOP-HEADER
*/


.header-st-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    padding-right: 20px;
}
a{
    text-decoration: none;
}
.header-st-column > a {
    margin-right: 15px;
    color: black;
}
.nd-column a{
    margin-right: 15px;
    color: black;
}
.common-button{
    background-color: #0061FF;
    padding: 8px 15px;
    color: white;
    display: inline-block;
}

/* 
    BOTTOM-HEADER
*/


h1{
    font-size: 5em;
    padding-top: 50px;
}

.info-header{
    padding-top: 40px;
    display: flex;
    translate: 0 60px;
}
.info-header > .text-header-box{
    width: 30%;
}
.info-header  p{
    margin-right: 10px;
    margin-bottom: 30px;
}
.benvenuto{
    margin-top: 40px;
}
.header-box-img{
    width: 70%;
}
.header-box-img img{
    width: 100%;
}
.freccia-giu {
    font-size: 4em;
    margin-top: 60px;
}

/* 
    MAIN
*/

/* 
    SECTION-1
*/

.contenitore-main{
    margin-top: 80px;
}

h2{
    font-size: 3em;
}
.radio {
    margin-top: 50px;
}

.radio-button {
    margin-right: 35px;
}

.column-layout {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.column-layout > div{
    width: 30%;
    text-align: center;
}
.user{
    padding:10px 0;
}
.column-container{
    text-align: left;
    padding: 20px 20px;
    min-height: 720px;
}
.lightgrey{
    color: lightgray;
    margin-bottom: 20px;
}
.prize{
    margin: 15px 0;
    font-weight: bold;
}
ul{
    list-style-type: none;
    
}
li{
    margin: 15px 0;
    display: flex;
    
}
.column-container > a {
    margin: 30px 0;
}
.normal{
    text-decoration: underline;
}
hr{
    margin: 30px 0;
    width: 20%;
}
.icona{
    margin-right:5px; 
}
.icona.icona2{
    color: blue;
}
.column-layout > .large-column{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.large-column > div > .info {
    text-align: left;
    padding: 20px;
    width: 70%;
}
h5{
    margin: 20px 0 40px 0;
}
.contenuto{
    display: flex;
}
.only-button > .common-button {
    margin-top: 20px;
}
/* 
    MAIN SECTION-2
*/
.sect2{
    width: 100%;
    display: flex;
}
.img-container-sect2{
    width: 70%;
}
.img-container-sect2 > img {
    width: 100%;
}
.text-container-sect2{
    width: 30%;
}

.text-container-sect2 > * {
    margin: 30px 0 0 20px;
}
.text-container-sect2 a{
    padding: 8px;
    text-decoration: none;
    color: black;
}
/* 
    MAIN SECTION-3
*/
.sect3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container-sect3{
    width: 30%;
}
.img-container-sect3 > img {
    width: 100%;
}
h3{
    font-size: 2em;
}