/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.contenitore{
    max-width: 1200px;
    margin: 0 auto;

}
/* 
    HEADER
*/
.header-container {
    background-color:lightblue ;
    width: calc(100% - 40px);
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/* .nd-column{
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
} */